name: CI

on:
  push:
  pull_request:
  workflow_dispatch:

env:
  FOUNDRY_PROFILE: ci

jobs:
  build_and_test:
    strategy:
      fail-fast: true

    name: Build and test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1

      - name: Run Forge build
        run: |
          forge build --sizes
        id: build

      - name: Run Forge tests
        run: |
          forge test -vvv
        id: test

  linter:
    strategy:
      fail-fast: false

    name: Linter checks
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 24

      - name: Install JS dependencies
        run: yarn install

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1

      - name: Show solhint version
        run: npm run lint:version

      - name: Show Forge version
        run: forge --version

      - name: Run linter for contracts
        run: npm run lint:sol-logic
        id: lint-logic

      - name: Run linter for tests
        run: npm run lint:sol-tests
        id: lint-tests

      - name: Run Forge fmt
        run: forge fmt --check
        id: fmt